<h5>Dropdown-c works!</h5>
<ng-content select=".first"></ng-content>
<div class="dropdown-custom">
  <!--<button class="btn btn-secondary" type="button" (click)="DropdownClick()">
     Dropdown button
  </button>
    -->
  <input class="form-control form-control-lg"
         [(ngModel)]="searchText"
         (focus)="OpenMenu()"
         (blur)="CloseMenu()"
         (keyup)="OnSearchTextChange()"
         type="text"
         placeholder="Search things"
         aria-label=".form-control-lg example">
  <h4>{{searchText}}</h4>
  <!--(focusout)="CloseMenu()"-->

  <div [hidden]="hideMenu" class="dropdown-custom-content">

    <div class="dropdown-custom-content-item"
         *ngFor="let item of data"
         (mousedown)="MenuMouseDown(item)"
         (click)="MenuClick(item)">
      {{item.value}}
    </div>

  </div>


</div>
<ng-content select=".last"></ng-content>



<!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>-->
