<p>index works!</p>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/common-data-lazy/list']">Course List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['/common-data-lazy/create']">Create Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['/common-data-lazy/interceptor-test']">Interceptor Test</a>
  </li>
</ul>
<div class="col-md-12">
  <router-outlet></router-outlet>
</div>